
TorrentMatcherCore/.build/

TorrentMatcherCore/.build/.lock
TorrentMatcherCore/.build/arm64-apple-macosx/debug/description.json
TorrentMatcherCore/.build/arm64-apple-macosx/debug/index/store/v5/records/01/arm64e-apple-macos.swiftinterface_Collection_HashedCollections-1SAUQCC4HGG01
TorrentMatcherCore/.build/arm64-apple-macosx/debug/index/store/v5/records/03/SKDocument.h-UJ5M6QHQUV03
TorrentMatcherCore/.build/arm64-apple-macosx/debug/index/store/v5/records/03/workgroup_interval.h-2B0SX7JOMGL03
TorrentMatcherCore/.build/arm64-apple-macosx/debug/index/store/v5/records/05/ndr.h-1IUYZ91LR1O05
TorrentMatcherCore/.build/arm64-apple-macosx/debug/index/store/v5/records/05/reboot.h-1G8Z7YGO7LE05
TorrentMatcherCore/.build/arm64-apple-macosx/debug/index/store/v5/records/09/ev.h-3ERO722AEKC09
